@{
    ViewBag.Title = "Movies";
}
<h2>@ViewBag.Title.</h2>

<hr />
<div class="row">
    <div class="row-cols-md-4">
        <h4><a href="https://localhost:44372/movie/MOVIE_Details1">Shrek</a></h4>
    </div>
    <hr />
    <div class="row-cols-md-4">
        <h4><a href="https://localhost:44372/movie/MOVIE_Details2">Wall-e</a></h4>
    </div>
</div>

