
@{
    ViewBag.Title = "Customers";
}
@Styles.Render("~/Content/css")

<h2>Customers</h2>

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableHead">Customers</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"><a href="https://localhost:44372/customer/details1">John Smith</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell"><a href="https://localhost:44372/customer/details2">Mary Williasm</a></div>
            </div>
        </div>
    </div>

    



